<app-userheader></app-userheader>
<div class="about" id="about">
    <div class="container">
     <div class="inner_w3l_agile_grids">
        
        <div class="col-md-12 about-right-w3layouts">
            <div class="wthree_title_agile two">
                <h3>Change <span>Password</span></h3>
            </div>
            <div class="main-no-shadow" >
                <form class="row p-lg-3 "  #userlogin='ngForm' (ngSubmit)='changepassword(userlogin.value)'>
                <div class="col-sm-6 input-m">
                    <label for='email'>Email:</label>
                </div>
                <div class="col-sm-6 input-m">
                    <input type="email" class="form-control" readonly name='email' [(ngModel)]='email' >
                </div>
                <div class="col-sm-6 input-m">
                    <label for='password'>Password:</label>
                </div>
                <div class="col-sm-6 input-m">
                    <input type="password" class="form-control" name='password' #password='ngModel' ngModel required>
                    <div class="text-danger" *ngIf='password.errors&&(password.touched||password.dirty)'>
                        <div *ngIf='password.errors.required'>Please enter the password</div>
                    </div>
                </div> 
                <div class="col-sm-6 input-m">
                    <label for='new_password'>New Password:</label>
                </div>
                <div class="col-sm-6 input-m">
                    <input type="password" class="form-control" name='new_password' #new_password='ngModel' ngModel required>
                    <div class="text-danger" *ngIf='new_password.errors&&(new_password.touched||new_password.dirty)'>
                        <div *ngIf='new_password.errors.required'>Please enter new  password</div>
                    </div>
                </div>   
                <div class="col-sm-6 input-m">
                    <label for='confirm_new_password'>Confirm new Password:</label>
                </div>
                <div class="col-sm-6 input-m">
                    <input type="password" class="form-control" name='confirm_new_password' #confirm_new_password='ngModel' ngModel 
                    required (blur)='passwordcheck(new_password.value,confirm_new_password.value)'>
                    <div class="text-danger" *ngIf='confirm_new_password.errors&&(confirm_new_password.touched||confirm_new_password.dirty)'>
                        <div *ngIf='confirm_new_password.errors.required'>Please enter the confirm password</div>
                    </div>
                    <div class="text-danger" *ngIf='!samepassword'>Enter the same password again</div>
                </div>          
                <div class=" col-sm-12 text-center">
                    <input type='submit' width='150px' class="btn btn-primary" value='Update' [disabled]='!userlogin.valid'>
                    <div [class]='classname' *ngIf='server_response.length>0'>{{server_response}}</div>
                    <hr>
                    
                </div>
                
                
            </form>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
</div>
<app-footer></app-footer>