<app-publicheader></app-publicheader>

<!-- about -->
<div class="about" id="about">
    <div class="container">
     <div class="inner_w3l_agile_grids">
        <div class="col-md-6 about-left-w3layouts" style='padding-top:100px;'>
            <h6 class="sub">WELCOME TO OUR Rental Car</h6>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, rds which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
        </div>
        <div class="col-md-6 about-right-w3layouts">
            <div class="wthree_title_agile two">
                <h3>User <span>Login</span></h3>
            </div>
            <div class="main-no-shadow" >
                <form class="row p-lg-3 "  #change_password='ngForm' (ngSubmit)='changepassword(change_password.value)'>
                <div class="col-sm-6 input-m">
                    <label for='email'>Email:</label>
                </div>
                <div class="col-sm-6 input-m">
                    <input type="email" class="form-control" name='email' #email='ngModel' ngModel required>
                    <div class="text-danger" *ngIf='email.errors&&(email.touched||email.dirty)'>
                        <div *ngIf='email.errors.required'>Please enter the email</div>
                    </div>
                </div>
                             
                <div class=" col-sm-12 text-center">
                    <input type='submit' width='150px' class="btn btn-primary" value='Submit' [disabled]='!change_password.valid'>
                    <div [class]='classname' *ngIf='server_response.length>0'>{{server_response}}</div>
                    <hr>
                    <p>Got to login<a routerLink='/users/login'>Login</a></p>
                </div>
                
                
            </form>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
</div>
<!--about-section-->
<app-footer></app-footer>