<app-rentalheader></app-rentalheader>
<div class="container main" style='padding:20px 20px;'>
    <form #changepassword='ngForm' class="row p-lg-5" (ngSubmit)='change(changepassword.value)'>
        <div class="col-sm-6 input-m">
            <label for='email'>Email</label>
        </div>
        <div class="col-sm-6 input-m">
            <input type="email" class="form-control" readonly [value]='email' >
        </div>
        <div class="col-sm-6 input-m">
            <label for='password'>Password</label>
        </div>
        <div class="col-sm-6 input-m">
            <input type="password" class="form-control" name='password' id='password' #password='ngModel' ngModel required>
            <div class="text-danger" *ngIf='password.errors&&(password.touched||password.dirty)'>
                <div *ngIf='password.errors.required'>Please enter the password</div>
            </div>
        </div>
        <div class="col-sm-6 input-m">
            <label for='newpassword'>New Password</label>
        </div>
        <div class="col-sm-6 input-m">
            <input type="password" class="form-control" name='newpassword'  #newpassword='ngModel' ngModel required>
            <div class="text-danger" *ngIf='newpassword.errors&&(newpassword.touched||newpassword.dirty)'>
                <div *ngIf='newpassword.errors.required'>Please enter the new password</div>
            </div>
        </div>
        <div class="col-sm-6 input-m">
            <label for='confirmnewpassword'>Confirm New Password</label>
        </div>
        <div class="col-sm-6 input-m">
            <input type="password" class="form-control" name='confirmnewpassword'  #confirmnewpassword='ngModel' ngModel required>
            <div class="text-danger" *ngIf='confirmnewpassword.errors&&(confirmnewpassword.touched||confirmnewpassword.dirty)'>
                <div *ngIf='confirmnewpassword.errors.required'>Please enter the new password again/div>
            </div>
        </div>
        </div>
        <div class="col-sm-12 text-center">
           <input type='submit' class="btn btn-primary" value="Submit" [disabled]='!changepassword.valid'>
           <div [class]='classname'  >{{serverresponse}}</div>
        </div>
    </form>
</div>
<app-footer></app-footer>
